    <div class="dedication box">
     <p>to <span class="to">$to</span> from <em>$from</em> <span class="extra">3:04 am on January 8, 2010</span></p>
     <p>$dedication</p>
     <p class="extra"><a href="#">retweet</a> | <a href="d/$dedication_num/$to">dedication link</a></p>
     <div class="blank"></div>
    </div>
