    <div class="dedication box">
     <p>to <span class="to">$_to</span> from <em>$_from</em> <span class="extra">3:04 am on January 8, 2010</span></p>
     <p>$dedication</p>
     <p class="extra">$delete_link<a href="#">retweet</a> | <a href="/web/ijustlovecoffee/d/$id/$_to">dedication link</a></p>
     <div class="blank"></div>
    </div>
