<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>iJustLoveCoffee</title>
<link href="/media/style.css" rel="stylesheet" type="text/css" />
<link href="/media/jqueryui/jquery-ui-1.8.9.custom.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="/media/images/favicon.ico" />

<script type="text/javascript" src="http://use.typekit.com/cdm8jra.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/script.js"></script>
</head>
<body>

 <div id="header">
   <div id="menu">
   {% if not user %}
    sign in with <a href="/signin/"><em class="google">google</em></a>
   {% else %}
    hi {{ user.nickname }}, <a href="/signout/"><em>sign out</em> if you must :(</a>
   {% endif %}
   </div>
   <div id="badge">
     <a href="/">
       <div id="logo">iJustLoveCoffee</div>
     </a>
     <a href="#dedication-form">
       <div id="dedicate-button">Dedicate it to a special someone »</div>
     </a>
   </div>
 </div>
 <div id="wrapper">
  <div id="main">
   <div id="coffee">
    {% if single %}
     <div class="wall">
      <div class="dedication box">
       <p>to <span class="to">{{ single.to_name|escape }}</span> from <em>{{ single.from_name|escape }}</em> <span class="extra r">{{ single.print_date }}</span></p>
       <p>{{ single.body|escape }}</p>
       <p class="extra">
        {% if delete_links %}<a href="/delete/{{ single.key.name }}/{{ single.secret }}/">delete</a> | {% endif %}
        <a href="#">tweet</a> |
        <a href="/d/{{ single.key.name }}/{{ single.to_name|escape }}/">dedication link</a></p>
       <div class="blank"></div>
      </div>
     </div>
    {% endif %}
     <div id="toolbar">
		  <!--<input type="radio" id="radio1" name="radio" class="edit" /><label for="radio1">Edit</label>
		  <input type="radio" id="radio2" name="radio" checked="checked" /><label for="radio2">Format</label>-->
		  <div class="button grey"></div>
		  <div class="button pink"></div>
		  <div class="button letter">A<span>A</span></div>

    </div>
    <div id="dedication" class="formatting editing" contenteditable>
     <div class="heading"><span>Things</span> <span>I</span> <span class="emph">Like</span> <span class="emph">About</span> <span class="emph">Coffee</span> </div>
     <div><span>Coffee</span> <span>is</span> <span>Hot</span> </div>
     <div><span>Coffee</span> <span>Makes</span> <span>me</span> <span class="emph">Excited</span> </div>
     <div><span>Coffee</span> <span>is</span> <span>good</span> <span>enough</span> <span>to</span> <span>have</span> <span class="emph">every</span> <span class="emph">Day</span> </div>
     <div><span>Coffee</span> <span>Smells</span> <span>Good</span> </div>
     <div><span>Coffee</span> <span>makes</span> <span>you</span> <span>nervous</span> <span>Sometimes</span> </div>
     <div><span>Coffee</span> <span>gives</span> <span>you</span> <span>Warm</span> <span>&amp;</span> <span>Fuzzies</span> </div>
     <div><span>Even</span> <span>when</span> <span>Coffee</span> <span>is</span> <span>too</span> <span class="emph">strong</span> <span class="emph">or</span> <span class="emph">too</span> <span class="emph">weak</span> <span>,</span> <span>It's</span> <span>Still</span> <span>Good.</span> </div>
     <div class="heading"><span class="emph">Things</span> <span>I</span> <span>Like</span> <span>About</span> <span class="emph">You</span> </div>
     <div><span>Pretty</span> <span>much</span> <span class="emph">the</span> <span class="emph">Same</span> <span class="emph">as</span> <span class="emph">Coffee</span> </div>
     <div><span>And</span> <span>who</span> <span>knows,</span> <span>Maybe</span> <span class="emph">you</span> <span>Taste</span> <span>Good</span> <span>&amp;</span> <span>keep</span> <span>me</span> <span>up</span> <span>all</span> <span>Night,</span> <span>too.</span> </div>
     <div class="blank"></div>
    </div>
    <!--<ul>
     <li><h1>Things I <em>Like</em> <em>About</em> <em>Coffee</em></h1></li>
     <li>Coffee is Hot</li>
     <li>Coffee Makes me <em>Excited</em></li>
     <li>Coffee is good enough to have <em>every</em> <em>Day</em></li>
     <li>Coffee Smells Good</li>
     <li>Coffee makes you nervous Sometimes</li>
     <li>Coffee gives you Warm &amp; Fuzzies</li>
     <li>Even when Coffee is too <em>strong</em> <em>or</em> <em>too</em> <em>weak</em>, It's Still Good.</li>
     <li><h1><em>Things</em> I Like About <em>You</em></h1></li>
     <li>Pretty much <em>the</em> <em>Same</em> <em>as</em> <em>Coffee</em></li>
     <li>And who knows, Maybe <em>you</em> Taste Good &amp; keep me up all Night, too.</li>
    </ul>-->
   </div>
   <div class="wall">
    <!--<div id="disqus_thread"></div>
    <script src="/media/disqus.js" type="text/javascript"></script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
    -->
    {% if dedications %}
     {% for dedication in dedications%}
      <div class="dedication box">
       <p>to <span class="to">{{dedication.to_name|escape}}</span> from <em>{{dedication.from_name|escape}}</em> <span class="extra r">{{dedication.print_date}}</span></p>
       <p>{{dedication.body|escape}}</p>
       <p class="extra negmargin">
        {% if delete_links %}<a href="/delete/{{dedication.key.name}}/{{dedication.secret}}/">delete</a> | {% endif %}
        <a href="#">tweet</a> |
        <a href="/d/{{dedication.key.name}}/{{dedication.to_name|escape}}/">dedication link</a></p>
       <div class="blank"></div>
      </div>
     {% endfor %}
    {% endif %}

    {% if user %}
    <div id="form" class="dedication box">
     <a name="dedication-form"></a>
     <form action="/add-dedication/" method="post">
     <p><label>to:</label> <input type="text" name="to_name" maxlength="40" /> <span class="extra">who is that special someone?</span></p>
     <p><label>from:</label> <input type="text" name="from_name" maxlength="40" /> <span class="extra">who are you?</span></p>
     <textarea rows="10" cols="68" name="body"></textarea>
     <p id="submit-line">you only have <em id="chars">360</em> characters left, use them wisely.<button type="submit">Dedicate</button></p>
     <div class="blank"></div>
     </form>
     <div class="blank"></div>
    </div>
    {% else %}
    <div class="dedication box">sign in with <a href="/signin/"><em class="google">google</em></a> to write your own dedication</div>
    {% endif %}
   </div>
  </div>
  <div id="sidebar">
   <div id="about" class="box">
    <p><b>about:</b></p>
    <p>based on original <a href="/media/images/drawing.jpg">concept</a> by unknown artist</p>
    <p>design inspired from <a href="http://becausewesayso.co.uk">becausewesayso.co.uk</a></p>
    <p>social icons provided by <a href="http://sixrevisions.com/freebies/icons/social-sketches-exclusive-free-hand-sketched-icon-set/">An Phan Văn</a></p>
   </div>
   <div class="separator">❧</div>
   <div id="like" class="box">
    <p>{{likes}} «coffee» lovers<br />
    {% if like %}
      <b>just like you</b></p>
      <div id="heart-fill" class="heart"><span>heart it ♥</span></div>
    {% else %}
      <b>are you?</b></p>
      <a href="/like/"><div id="heart-empty" class="heart"><span>heart it ♥</span></div></a>
    {% endif %}
   </div>

   <div id="follow" class="box social">
    <p><b>follow:</b></p>
    <div class="bookmark"><a href="/feed/"><img alt="rss feed" src="/media/images/rss-48.png" title="follow dedications on your favorite reader!" /><div>feed</div></a></div>
    <div class="bookmark"><a href="#"><img alt="follow on twitter" src="/media/images/twitter-follow-48.png" title="follow dedications in twitter!" /><div>follow</div></a></div>
    <div class="blank"></div>
   </div>

   <div id="share" class="box social">

    <p><b>share:</b></p>
    <div class="bookmark"><a href="http://twitter.com/home?status=i%20really%20love%20coffee%20:)%20http://ijustlovecoffee.com"><img alt="twitter" src="/media/images/twitter-48.png" title="tweet this!" /><div>tweet</div></a></div>
    <div class="bookmark"><a href="http://del.icio.us/post?url=http://ijustlovecoffee.com/&amp;title=I%20Just%20Love%20Coffee"><img alt="delicious" src="/media/images/delicious-48.png" title="bookmark this!" /><div>delicious</div></a></div>
    <div class="bookmark"><a href="http://www.facebook.com/sharer.php?u=http://ijustlovecoffee.com/&amp;t=I%20Just%20Love%20Coffee"><img alt="facebook" src="/media/images/facebook-48.png" title="share in facebook!" /><div>facebook</div></a></div>
    <div class="bookmark"><a href="http://www.stumbleupon.com/submit?url=http://ijustlovecoffee.com/"><img alt="stumbleupon" src="/media/images/stumbleupon-48.png" title="stumble here!" /><div>stumble</div></a></div>
    <!--<div class="bookmark"><a href="http://digg.com/submit?phase=2&amp;url=http://ijustlovecoffee.com/"><img alt="digg" src="/media/images/digg-48.png" title="digg this!" /><div>digg</div></a></div>
    <div class="bookmark"><a href="http://reddit.com/submit?url=http://ijustlovecoffee.com/&amp;title=I%20Just%20Love%20Coffee"><img alt="reddit" src="/media/images/reddit-48.png" title="submit to reddit!" /><div>reddit</div></a></div>-->
    <div class="blank"></div>
   </div>
  </div>
  <div class="blank"></div>
 </div>
</body>
</html>

