<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>I love Coffee</title>
<link href="/web/ijustlovecoffee/style.css" rel="stylesheet" type="text/css" />
<link rel="icon" href="images/favicon.ico" /> 
</head>
<body>
 <div id="header"><a href="/web/ijustlovecoffee/"><div id="logo">iJustLoveCoffee</div></a><a href="#dedication-form"><div id="dedicate-button">Dedicate it to a special someone »</div></a></div> 
 <div id="wrapper">
  <div id="main">
   <div id="coffee">
    <div class="wall">
     $single
    </div>
    <h1><b>T</b>hings I <em>Like About Coffee</em></h1>
    <ul>
     <li>Coffee is Hot</li>
     <li>Coffee Makes me <em>Excited</em></li>
     <li>Coffee is good enough to have <em>every Day</em></li>
     <li>Coffee Smell Good</li>
     <li>Coffee makes you nervous Sometimes</li>
     <li>Coffee Gives you Worm &amp; Fuzzies</li>
     <li>Even when Coffee is too <em>strong or too weak</em>, It's Still Good.</li>
    </ul>
    <h1><em>Things</em> I Like About <em>You</em></h1>
    <ul>
     <li>Pretty much <em>the Same as Coffee</em></li>
     <li>And who knows, Maybe <em>you</em> Taste Good & keep me up all Night, too.</li>
    </ul>
   </div>
   <div class="wall">
    $dedications
    <div id="form" class="dedication box">
     <a name="dedication-form"></a>
     <form action="/web/ijustlovecoffee/add-dedication/" method="post">
     <p><label>to:</label> <input type="text" name="to" /> <span class="extra">who is that special someone?</span></p>
     <p><label>from:</label> <input type="text" name="_from" /> <span class="extra">who are you?</span></p>
     <textarea rows="10" cols="68" name="dedication"></textarea>
     <p id="submit-line">you only have <em>360</em> characters left, use them wisely.<button type="submit">Dedicate</button></p>
     <div class="blank"></div>
     </form>
     <div class="blank"></div>
    </div>
   </div>
  </div> 
  <div id="sidebar">
   <div id="about" class="box">
    <p><b>about:</b></p>
    <p>based on original <a href="images/drawing.jpg">concept</a> by unknown artist</p>
    <p>design shamefully inspired from <a href="http://becausewesayso.co.uk">becausewesayso.co.uk</a></p>
    <p>social icons provided by <a href="http://sixrevisions.com/freebies/icons/social-sketches-exclusive-free-hand-sketched-icon-set/">An Phan Văn</a></p>
   </div>
   <div id="like" class="box">
    <p>2 people like «coffee»</p>
    <a href="#"><div id="heart"><span>♥<span></div></a>
    <p><b>do you?</b></p>
   </div>
   <div id="follow" class="box social">
    <p><b>follow:</b></p>
    <div class="bookmark"><a href="feed/"><img src="/web/ijustlovecoffee/images/rss-48.png" title="tweet this!" /><div>feed</div></a></div>
    <div class="bookmark"><a href="#"><img src="/web/ijustlovecoffee/images/twitter-follow-48.png" title="bookmark this!" /><div>follow</div></a></div>
    <div class="blank"></div>
   </div>
   <div id="share" class="box social">
    <p><b>share:</b></p>
    <div class="bookmark"><a href="http://twitter.com/home?status=i%20really%20love%20coffee%20:)%20http://ijustlove.com"><img src="/web/ijustlovecoffee/images/twitter-48.png" title="tweet this!" /><div>tweet</div></a></div>
    <div class="bookmark"><a href="http://del.icio.us/post?url=http://ijustlove.com/&title=I%20Just%20Love"><img src="/web/ijustlovecoffee/images/delicious-48.png" title="bookmark this!" /><div>delicious</div></a></div>
    <div class="bookmark"><a href="http://www.facebook.com/sharer.php?u=http://ijustlove.com/&t=I%20Just%20Love"><img src="/web/ijustlovecoffee/images/facebook-48.png" title="update status!" /><div>facebook</div></a></div>
    <div class="bookmark"><a href="http://www.stumbleupon.com/submit?url=http://ijustlove.com/"><img src="/web/ijustlovecoffee/images/stumbleupon-48.png" title="stumble here!" /><div>stumble</div></a></div>
    <div class="bookmark"><a href="http://digg.com/submit?phase=2&url=http://ijustlove.com/"><img src="/web/ijustlovecoffee/images/digg-48.png" title="digg this!" /><div>digg</div></a></div>
    <div class="bookmark"><a href="http://reddit.com/submit?url=http://ijustlove.com/&title=I%20Just%20Love"><img src="/web/ijustlovecoffee/images/reddit-48.png" title="submit to reddit!" /><div>reddit</div></a></div>
    <div class="blank"></div>
   </div>
  </div>
 </div>
</body>

