<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0"  xmlns:atom="http://www.w3.org/2005/Atom">
 <channel>
  <atom:link href="$link" rel="self" type="application/rss+xml" />
  <title>Dedications</title>
  <link>$link</link>
  <description>Dedications from ijustlovecoffee.com</description>
  <lastBuildDate>$time</lastBuildDate>
  <language>en-us</language>
$items
 </channel>
</rss>
