@font-face{font-family:'Libertine'; src:url('/media/libertine_re.ttf'); font-weight: normal;}
@font-face{font-family:'Libertine'; src:url('/media/libertine_bd.ttf'); font-weight: bold;}

body{font-family: Libertine, Georgia, sans; font-size: 1.3em; color: #222; /*background-image: url(images/bg3.jpg);*/ background-color:#FFF; /*font-variant: small-caps;*/}
a{color:inherit; text-decoration: inherit;}
h1{margin: 30px 0px; clear:both;}
ul{list-style-type: none; padding: 0px; margin: 0 0 0 12px;}
em{color: #DB5C6B; font-style: normal; font-weight: bold;}
a img{border-width: 0px}
.blank{clear:both;}

#header{padding: 30px 80px 0 80px; }
#badge{margin:0px 0px 30px 0px; float:left; color:#FFF; font-weight:bold; font-variant: normal;}
#menu{float: right; font-size: 0.7em; color: #727272;}
#logo{
  padding:12px 20px 8px 44px;
  background-color: #424242;
  background-image:url(images/heart-small.png);
  background-repeat:no-repeat;
  background-position: 8px center;
  font-size: 1.3em;
}
#dedicate-button{
  background-color:#DB5C6B;
  margin-right:0px;
  padding: 4px 10px;
  cursor: pointer;
  font-size: 0.7em;
}

#wrapper{clear:left; margin: 20px auto; width: 867px;}
#main{margin:10px 0px 30px 0px; float:left;}
#coffee{margin-bottom: 60px;}
#coffee h1:first-child{margin-top: 0;}
.wall{width: 545px; /*font-size: 0.7em;*/ font-family: Helvetica, sans; font-variant: normal;}
.wall .dedication{color: #727272; font-variant:normal; font-size: 0.7em; margin-bottom: 48px;}
.wall .dedication .to{font-weight:bold;}
.wall .dedication .r{float:right;}
.wall .dedication .negmargin{margin-top: -6px;}
.wall .dedication .extra{font-size:0.8em; color: #828282;}
.wall .dedication .extra a{text-decoration: none; color: #727272; font-weight:bold;}
.wall .dedication .extra a:hover{text-decoration: underline;}
/*#wall .dedication.box:hover{background-color:#E9E9E9;}*/

input, textarea{border: solid 1px #E2E2E2; font-weight: normal; font-size: 11px;}
textarea{resize: vertical;}
input:focus{border-color: #DB5C6B;}
form label{width: 40px; display:block; float:left; padding-top: 4px;}
.button{padding: 8px 20px; float:right; font-weight: bold; font-size: 14px; color:white; cursor:pointer; border: solid 1px #E2E2E2; background-color: #DB5C6B;}
#form button{float:right; color:#333; margin-top: -5px;}
#submit-line{padding: 4px 0px;}


#footer{/*width:72px;*/ padding 12px 12px; margin:70px 0px 30px 80px; clear:both;}
.bookmark{margin: 0 0; float:left;}
.bookmark img{vertical-align: middle;}
.bookmark span{color:#727272 ;font-size: 0.8em; font-variant:normal; font-weight:regular; /*background-color: #424242;*/ padding: 0px 12px; margin: 0 24px 0 4px;}
.bookmark div{text-align:center;}
.bookmark a{text-decoration:none; color: #727272;}
.bookmark a:hover{font-weight:bold;}

#sidebar{width: 167px; margin-left:60px; float:left;}
#sidebar .box{width:167px;}
#sidebar .separator{width: 1em; margin: 0 auto;}
.box{/*background-color:#FBFBFB; border: solid 1px #E2E2E2;*/ color: #727272; padding: 0px 20px; font-variant:normal; font-size: 0.8em; margin-bottom: 24px;}
.social{padding:0px 20px 20px 20px;}
.social img{margin: 8px 12px;}
#about a{color: #DB5C6B; font-style: normal; font-weight: bold;}
#heart{height: 100px; background-image:url(images/heart-empty.png); background-position: center; background-repeat:no-repeat;}
#heart:hover{background-image:url(images/heart.png)}
#heart span{display:none;}

a #heart:{text-decoration: none;}
#heart span{font-size:90px; color:#424242;}
#heart span:hover{color:#DB5C6B;}

